<div class="card card-dark">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h3 class="card-title">
                    {{status}}
                </h3>
            </div>
        </div>
    </div>
    <form method="POST" >
        {% csrf_token %}
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    <div class="row form-group">
                        <label>Category Name: <span class="imp">*</span></label>
                        <div class="input-container">
                            <!-- <i class="fa fa-cart-plus iicon"></i> -->
                            <i class="fa fa-th-large iicon"></i>
                            {{form.name}}
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="id_name">Description: </label>
                        {{form.description}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding:1%;">
            <div class="col-sm-6">
                <button type="submit" class="save btn btn-primary">SAVE</button>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'category_list' %}" class="save btn btn-primary">
                    CANCEL
                </a>
            </div>
        </div>
        <br>
    </form>
</div>
<script type="text/javascript">
    window.onbeforeunload = function () {
            return true;
        };
</script>