#header {
    height: 50px;
    background: #10284e;
    color: white;
}
#branding h1{
    color: white;
}
#l1{
    color: #f5dd5d;
}
div.breadcrumbs{
    background-color: #30caa3;
    color: white;
}
div.breadcrumbs a{
    color: #10284e;
} 
.module caption{
    background-color: #30caa3;
    font-weight: bold;
}
.button, input[type=submit], input[type=button]{
    background-color: #10284e;
}
/* #417690 */
.submit-row input[class="default"]{
    background-color: #417690;
    color: white;
}
div#changelist-filter h2{
    background-color: #10284e;
}
.paginator .this-page{
    background-color: #10284e;
    color: white;
}