<!-- category modal -->
<div class="modal fade" id="categoy_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h4 class="modal-title">Add Category</h4>
                <button style="color:white;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="addCategory" method="POST" action="{% url 'category_new' %}" class="form-ajax">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm">
                            <div class="row form-group">
                                <label>Category Name: <span class="imp">*</span></label>
                                <div class="input-container">
                                    <!-- <i class="fa fa-cart-plus iicon"></i> -->
                                    <i class="fa fa-th-large iicon"></i>
                                    <input type="text" name="name" class="input-field imp-field">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="id_name">Description: </label>
                                <textarea name="description" style="width: 100%; border: 1px solid #cccccc;"
                                    rows=5></textarea>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-2">
                                    <label for="id_name">is_available: </label>
                                </div>
                                <div class="col-sm-2">
                                    <input type="checkbox" name="is_available" checked/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="modal" />
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>