<div class="modal fade" id="unit_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h4 class="modal-title">Add Unit</h4>
                <button style="color:white;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="addUnit" method="POST" action="{% url 'unit_new' %}" class="form-ajax">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm">
                            <div class="row form-group">
                                <div class="col-sm">
                                    <label>Unit Name: <span class="imp">*</span></label>
                                    <div class="input-container">
                                        <i class="fa fa-balance-scale iicon"></i>
                                        <input type="text" name="name" class="input-field imp-field">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="modal" />
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>